<section class="about section" id="about">
  <div class="container about-us-container">
    <div class="about-us-card-wrapper">
      <div class="poster">
        <h2 class="poster-title">
          O mnie
        </h2>
        <div class="poster-paragraphs">
          <p class="poster-description">
            Jestem certyfikowanym instruktorem pływania, a pływanie to moja pasja od ponad 25 lat. Przez wiele lat trenowałem
            zawodowo, zdobywając doświadczenie, które dziś wykorzystuję w pracy z kursantami. Pomagam oswoić się z wodą, poprawić
            technikę i osiągać zaplanowane cele sportowe. Uczę w prosty, spokojny i skuteczny sposób, dbając o komfort,
            bezpieczeństwo oraz dobrą atmosferę na zajęciach.
          </p>
        </div>
      </div>
      <picture class="picture-about-us">
        <source
          srcset="
            ./img/desktop_1440/about_us/about_us.jpg    1x,
            ./img/desktop_1440/about_us/about_us@2x.jpg 2x
          "
          media="(min-width: 1440px)"
          width="1340"
          height="470"
        />
        <source
          srcset="
            ./img/desktop_1280/about_us/about_us.jpg    1x,
            ./img/desktop_1280/about_us/about_us@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          width="1180"
          height="470"
        />
        <source
          srcset="
            /img/tablet/about_us/about_us.jpg    1x,
            /img/tablet/about_us/about_us@2x.jpg 2x
          "
          media="(min-width: 768px)"
          width="704"
          height="470"
        />
        <source
          srcset="
            /img/mobille/about_us/about_us.jpg    1x,
            /img/mobille/about_us/about_us@2x.jpg 2x
          "
          media="(max-width: 767px)"
          width="335"
          height="395"
        />
        <img
          src="./img/mobille/about_us/about_us.jpg"
          alt="yacht sails in night sea"
          class="img-about-us"
        />
      </picture>
    </div>
  </div>
</section>
