<section class="container" id="about">
  <div class="about-wrapper">
      <div class="about-text-wrapper">
        <h2>
          O mnie
        </h2>
          <p>
            Jestem certyfikowanym instruktorem pływania, a pływanie to moja pasja od ponad 25 lat. Przez wiele lat trenowałem
            zawodowo, zdobywając doświadczenie, które dziś wykorzystuję w pracy z kursantami. Pomagam oswoić się z wodą, poprawić
            technikę i osiągać zaplanowane cele sportowe. Uczę w prosty, spokojny i skuteczny sposób, dbając o komfort,
            bezpieczeństwo oraz dobrą atmosferę na zajęciach.
          </p>
      </div>
      <picture class="picture-about-me">
        <source
          srcset="
            ./img/desktop_1280/about_me/about_me.jpg"
          media="(min-width: 1280px)"
          width="545"
        />
        <source
          srcset="
            /img/tablet/about_me/about_me.jpg"
          media="(min-width: 768px)"
          width="335"
        />
        <source
          srcset="
            /img/mobille/about_me/about_me.jpg"
          media="(max-width: 767px)"
          width="335"
        />
        <img
          src="./img/mobille/about_me/about_me.jpg"
          alt="Igor Zosym"
          class="img-about-me"
        />
      </picture>
    </div>
  </div>
</section>
