<section>
  <div class="container advantages">
    <h2 class="advantages-heading">Jak to wygląda?</h2>
    <div class="advantages-list-wrapper">
      <ol class="advantages-list list">
        <li class="advantages-list-item">
          <h3 class="advantages-list-item-heading">Nauka pływania</h3>
          <p
            class="advantages-list-item-description"
          >
            Podczas lekcji skupiamy się na stopniowym oswajaniu z wodą, nauce prawidłowego oddychania oraz budowaniu poprawnej
            pozycji ciała. Krok po kroku wprowadzamy pierwsze ruchy pływackie, dbając o komfort, bezpieczeństwo i spokojne tempo
            nauki.
          </p>
        </li>
        <li class="advantages-list-item">
          <h3 class="advantages-list-item-heading">Doskonalenie pływania</h3>
          <p
            class="advantages-list-item-description"
          >
            Zajęcia doskonalące są przeznaczone dla osób, które już pływają i chcą poprawić swoją technikę. Pracujemy nad
            efektywnością i ekonomią ruchu, koordynacją oraz oddychaniem, a także nad doskonaleniem poszczególnych stylów
            pływackich.
          </p>
        </li>
        <li class="advantages-list-item">
          <h3 class="advantages-list-item-heading">Treningi</h3>
          <p
            class="advantages-list-item-description"
          >
            Treningi pływackie skierowane są do osób, które chcą trenować bardziej świadomie lub przygotować się do konkretnych
            celów sportowych. Skupiamy się na technice pływania w warunkach treningowych, kontroli tempa i intensywności, budowaniu
            wytrzymałości oraz poprawie ogólnej kondycji. W zależności od potrzeb treningi mogą być rozszerzone o zajęcia
            uzupełniające na lądzie, takie jak bieganie. Zajęcia mogą obejmować również przygotowanie do zawodów i testów
            sprawnościowych.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
