<section class="reviews-section section" id="contact">
  <div class="reviews-container container">
    <h2 class="reviews-title">
      Kontakt
    </h2>
            <div class="card">
          <ul>
            <li>
              Telefon:
              <a href="tel:+48123456789">+48 729 548 862</a>
            </li>

            <li>
              Email:
              <a href="mailto:zosymigor@gmail.com">
                zosymigor@gmail.com
              </a>
            </li>

            <li>
              Messenger:
              <a href="https://m.me/twojprofil" target="_blank" rel="noopener noreferrer">
                Napisz do mnie na Messengerze
              </a>
            </li>
          </ul>
        </div>
  </div>
</section>
