<footer class="footer" id="contact">
  <div class="container footer-c">
    <div class="contact-container">
      <h2 class="contact-title">
        Kontakt
      </h2>
        <ul class="list">
          <li>
            Telefon:
            <a href="tel:+48123456789">+48 729 548 862</a>
          </li>

          <li>
            Email:
            <a href="mailto:zosymigor@gmail.com">
              zosymigor@gmail.com
            </a>
          </li>

          <li>
            Messenger:
            <a href="https://m.me/twojprofil" target="_blank" rel="noopener noreferrer" class="mess-link">
              Napisz do mnie na Messengerze
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-wrapper">
        <div class="nav-social-wrapper">
          <nav class="navigator">
            <ul class="footer-nav list">
              <li class="nav-list-item">
                <a href="#about" class="nav-link-footer">O mnie</a>
              </li>
              <li class="nav-list-item">
                <a href="#offer" class="nav-link-footer">Oferta</a>
              </li>
            </ul>
          </nav>

          <ul class="foot-social-list list">
            <li class="foot-social-list-item">
              <a href="https://www.instagram.com/goitclub/" class="foot-social-links" target="_blank">
                <svg class="footer-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="foot-social-list-item">
              <a href="https://www.youtube.com/c/GoIT" class="foot-social-links" target="_blank">
                <svg class="footer-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-you_tube"></use>
                </svg>
              </a>
            </li>
            <li class="foot-social-list-item">
              <a href="https://www.facebook.com/goITclub/" class="foot-social-links" target="_blank">
                <svg class="footer-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="text-footer">
          Od pierwszego zanurzenia do pełnej swobody w wodzie.
        </p>
            <a href="#" class="footer-links">2026. SwimClub Igor Zosym </a>
        </ul>
      </div>
    </div>
</footer>
