<footer class="main-footer section">
  <div class="contain container">
    <div class="footer-content-wrapper">
      <div class="nav-social-wrapper">
        <nav class="navigator">
          <a class="logo-foot" href="./index.html">SwimClub</a>
          <ul class="footer-nav list">
            <li class="nav-list-item">
              <a href="#about" class="nav-link-footer">O mnie</a>
            </li>
            <li class="nav-list-item">
              <a href="#offer" class="nav-link-footer">Oferta</a>
            </li>
            <li class="nav-list-item">
              <a href="#contact" class="nav-link-footer">Kontakt</a>
            </li>
          </ul>
        </nav>

        <ul class="foot-social-list list">
          <li class="foot-social-list-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="foot-social-links"
              target="_blank"
            >
              <svg class="footer-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="foot-social-list-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="foot-social-links"
              target="_blank"
            >
              <svg class="footer-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-you_tube"></use>
              </svg>
            </a>
          </li>
          <li class="foot-social-list-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="foot-social-links"
              target="_blank"
            >
              <svg class="footer-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <p class="text-footer">
        Od pierwszego zanurzenia do pełnej swobody w wodzie.
      </p>
      <ul class="footer-links-list list">
        <li class="footer-links-list-item">
          <a href="#" class="footer-links">2026. SwimClub Igor Zosym </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
