<section id="offer" class="container">
  <div class="offer">
    <h2>
      Oferta
    </h2>
    <ul class="offer-card-list">
      <li class="offer-card">
        <picture>
          <source
            srcset="
              ./img/desktop_1280/offer/child.png"
            media="(min-width:1280px)"
            width="450"
            height="268"
          />
          <source
            srcset="
              ./img/tablet/offer/child.png"
            media="(min-width:768px)"
            width="304"
            height="268"
          />
          <source
            srcset="
              ./img/mobille/offer/child.png"
            media="(max-width:767px)"
            width="302"
            height="240"
          />
          <img
            class="offer-image"
            src="./img/mobille/offer/child.png"
            alt="Child"
          />
        </picture>
        <h3 class="offer-title">Dla dzieci</h3>
        <p class="offer-text">Bezstresowa nauka pływania od podstaw oraz doskonalenie pływania dla dzieci.</p>
      </li>
      <li class="offer-card">
        <picture>
          <source srcset="
                    ./img/desktop_1280/offer/adult.png"
                  media="(min-width:1280px)" width="450" height="268" />
          <source srcset="
                    ./img/tablet/offer/adult.png"
                    media="(min-width:768px)" width="304" height="268" />
          <source srcset="
                    ./img/mobille/offer/adult.png"
                  media="(max-width:767px)" width="302" height="240" />
          <img class="offer-image" src="./img/mobille/offer/adult.png" alt="Adult" />
        </picture>
          <h3 class="offer-title">Dla dorosłych</h3>
          <p class="offer-text">Nigdy nie jest za późno, aby nauczyć się pływać lub poprawić efektywność pływania.
          </p>
      </li>
      <li class="offer-card">
        <picture>
          <source srcset="
                    ./img/desktop_1280/offer/pro.jpg
                  " media="(min-width:1280px)" width="450" height="268" />
          <source srcset="
                    ./img/tablet/offer/pro.jpg
                  " media="(min-width:768px)" width="304" height="268" />
          <source srcset="
                    ./img/mobille/offer/pro.jpg
                  " media="(max-width:767px)" width="302" height="240" />
          <img class="offer-image" src="./img/mobille/offer/pro.jpg" alt="Pro" />
        </picture>
          <h3 class="offer-title">Treningi kondycyjne i przygotowanie do celów</h3>
          <p class="offer-text">Indywidualne treningi w wodzie poprawiające kondycję oraz przygotowujące do zawodów i testów sprawnościowych.
          </p>
      </li>
      <li class="offer-card">
        <picture>
          <source srcset="
                    ./img/desktop_1280/offer/company.png
                  " media="(min-width:1280px)" width="450" height="268" />
          <source srcset="
                    ./img/tablet/offer/company.png
                  " media="(min-width:768px)" width="304" height="268" />
          <source srcset="
                    ./img/mobille/offer/company.png
                  " media="(max-width:767px)" width="302" height="240" />
          <img class="offer-image" src="./img/mobille/offer/company.png" alt="Company" />
        </picture>
          <h3 class="offer-title">Treningi dla firm</h3>
          <p class="offer-text">Zajęcia pływackie dla firm jako forma integracji, wspólnego treningu lub przygotowania do zawodów.
          </p>
      </li>
    </ul>
    <a class="contact-link" href="#contact">Kontakt</a>
  </div>
</section>
