<section id="price">
    <div class="container price">
    <div class="table-wrapper">
        <h2 class="price-title">Cennik</h2>
        <table border="1" cellpadding="10" cellspacing="0">
          <thead>
            <tr>
              <th></th>
              <th>Pruszków SmS</th>
              <th>Warszawa WUM</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Zajęcia indywidualne</td>
              <td>120</td>
              <td>130</td>
            </tr>
            <tr>
              <td>Zajęcia grupowe 2 osobowe</td>
              <td>80</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Zajęcia grupowe 3 osobowe</td>
              <td>70</td>
              <td>80</td>
            </tr>
            <tr>
              <td>Zajęcia grupowe 4 osobowe</td>
              <td>60</td>
              <td></td>
            </tr>
            <tr>
              <td>Pakiet miesięczny</td>
              <td></td>
              <td>-10%</td>
            </tr>
            <tr>
              <td>Treningi dla firm</td>
              <td colspan="2">skontaktuj się ze mną</td>
            </tr>
            <tr>
              <td colspan="3">
                Cena dotyczy 60 minut, czas liczony jest od momentu wejścia
                na strefę płatną (bramki) do wyjścia.<br><br>
                Cena nie obejmuje wstępu na basen
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
</section>