<section id="price">
    <div class="container price">
    <div class="table-wrapper">
        <h2 class="price-title">Cennik</h2>
        <table border="1" cellpadding="10" cellspacing="0">
          <thead>
            <tr>
              <th></th>
              <th>Warszawa WUM</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Zajęcia indywidualne</td>
              <td>140 zł</td>
            </tr>
            <tr>
              <td>Zajęcia grupowe 2 osobowe</td>
              <td>90 zł</td>
            </tr>
            </tr>
            <tr>
              <td>Pakiet miesięczny</td>
              <td>-10%</td>
            </tr>
            <tr>
              <td colspan="2">
                Cena dotyczy 60 minut, czas liczony jest od momentu wejścia
                na strefę płatną (bramki) do wyjścia.<br><br>
                Cena nie obejmuje wstępu na basen
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
</section>