body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: rgb(14, 24, 35);
  color: #fbfbfb;
}

.container {
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.call-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1b414b;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.call-icon {
  width: 26px;
  height: 26px;
  fill: white;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

