body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: rgb(14, 24, 35);
  color: #fbfbfb;
}

.container {
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

