.header-wrapper{
  width: 335px;
  height: 42px;
  padding: 10px 20px 11px 20px;
  border-radius: 8px;
  border: 1px solid #fbfbfb;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
}

.nav-logo {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: #1B414B;
}

.social-media-list {
  display: none;
}

.head-nav-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 21px;
}

.nav-list{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.nav-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 21px;
  border-radius: 3px;
  background-color: rgba(27, 65, 75, 0.50);
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  transition: background-color 250ms linear;
  padding: 4px 0;
}

.nav-list-link:hover {
  background-color: #1B414B;
}

.header.container{
  position: relative;
  margin-bottom: -42px;
  z-index: 999999;
}

@media screen and (min-width: 768px){
  .header.container{
    padding: 0;
    margin-bottom: -48px;
  }

  .header-wrapper {
      width: 704px;
      height: 48px;
      padding-left: 28px;
      padding-right: 28px;
    }

  .nav-logo {
    font-size: 20px;
  }

  .head-nav-box{
    gap: 126px;
  }

  .nav-list-link{
    width: 91px;
    height: 27px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1280px){
  .header-wrapper {
    width: 1080px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .head-nav-box {
    gap: 312px;
  }

}
/*.social-media-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */