/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./variables.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./offer.css');
@import url('./advantages.css');
@import url('./price.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./modal.css');
